@page
@model SeguimientoAcademico.App.Presentacion.Pages.Estudiantes.ActividadModel
@{
}
<h1>Registro de Actividad</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="estudiante.Id"></label>
        <input asp-for="estudiante.Id" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="estudiante.Nombre"></label>
        <input asp-for="estudiante.Nombre" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="estudiante.Apellido"></label>
        <input asp-for="estudiante.Apellido" class="form-control" readonly>
    </div>    
    <div class="form-group">
        <label asp-for="actividad.Nombre"></label>
        <input asp-for="actividad.Nombre" class="form-control" required>
    </div> 
    <div class="form-group">
        <label asp-for="actividad.Descripcion"></label>
        <input asp-for="actividad.Descripcion" class="form-control" required>
    </div>
    <div class="form-group">
        <label asp-for="actividad.Avance"></label>
        <select asp-for="actividad.Avance" class="form-control">
            <option value="pendiente">PENDIENTE</option>
            <option value="hecho">HECHO</option>
            <option value="por_hacer">POR HACER</option>
            <option value="con_dudas">CON DUDAS</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Registrar</button>
</form>