@page
@model SeguimientoAcademico.App.Presentacion.Pages.Estudiantes.RecomendacionModel
@{
}
<h1>Registro de Recomendacion</h1>

<form method="post">
    <div class="form-group"> 
        <label asp-for="estudiante.Id"></label>
        <input asp-for="estudiante.Id" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="estudiante.Nombre"></label>
        <input asp-for="estudiante.Nombre" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="estudiante.Apellido"></label>
        <input asp-for="estudiante.Apellido" class="form-control" readonly>
    </div>    
    <div class="form-group">
        <label asp-for="recomendacion.Nombre"></label>
        <input asp-for="recomendacion.Nombre" class="form-control" required>
    </div> 
    <div class="form-group">
        <label asp-for="recomendacion.sugerencia"></label>
        <select asp-for="recomendacion.sugerencia" class="form-control">
            <option value="actividades">ACTIVIDADES</option>
            <option value="refuerzos">REFUERZOS</option>
            <option value="tareas">TAREAS</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Registrar</button>
</form>
