@page
@model SeguimientoAcademico.App.Presentacion.Pages.Estudiantes.verMestrosModel
@{
}
<h1>Listado de maestros</h1>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Tarjeta Profesional</th>
        </tr>
    </thead>
    @foreach (var x in Model.maestros)
    {
        <tr>
            <td>@x.Nombre</td>
            <td>@x.Apellido</td>
            <td>@x.Telefono</td>
            <td>@x.TarjetaProfesional</td>
        </tr>
    }
</table>
